@font-face {
    font-family: "poppins";
    src: url(./Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "poppins" ;
    src: url(./Fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}


body, html {
    height: 100%;
    margin: 0;
    padding: 25;
    background-image: url("./Pictures/Website\ Background.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .hero-image {
    background-image: url("./Pictures/HeaderImage.png");
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    line-height: 0.2;
    font-family: "poppins";
    text-transform: uppercase;
  }
  
  .hero-text button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: transparent;
    margin: 3px;
    padding: 0px;
    width: 253px;
    height: 42px;
    font-family: "poppins";
    text-transform: uppercase;
  }
  
  #buttonjoin {
    color: #210E2D;
    background-color: #FFB800;
    border: 3px solid #FFB800;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 500;
  }
  
  #buttonjoin:hover {
    background-color: transparent;
    border: 3px solid #FFB800;
    color: #FFB800;
  }
  
  #buttoncreate {
    border: 3px solid #FFB800;
    color: #FFB800;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 500;
  }
  
  #buttoncreate:hover {
    background-color: #FFB800;
    color: #210E2D;
  }


#picturecard {
    width: 100%;
    height: 42%;
    object-fit: cover;
    border-radius: 56px 56px 0 0;
}

.card {
    width: 28%;
    height: 87%;
    background-color: #360C51;
    border-radius: 56px;
    font-family: 'poppins';
    font-weight: 500;
}

.cardinformation {
    padding-left: 20px;
    color: white;
    padding-top: 20px;
}

.cardinformation h1 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 0;
    margin-bottom: 28px;
}

.cardinformation h2 {
    font-size: 13px;
    font-weight: 100;
    line-height: 0;
    color: #CCCCCC;
}

.cardicons {
    margin-top: 17px;
}

#d6 {
    width: 7%;
    background-color: #FBC715;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    left: 0;
}

#d20 {
    width: 7%;
    background-color: #FBC715;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    left: 6px;
}

.cardinformation p {
    font-weight: 100;
}

.cardinformation button {
    color: #210E2D;
    background-color: #FBC715;
    font-weight: bold;
    text-transform: uppercase;
    padding: 9px 21px 9px 21px;
    border-radius: 31px;
    margin-top: 21%;
    font-size: 14px;
}

.cardinformation button:hover {
    background-color: #866c16;
}

#d6:hover {
    background-color: #866c16;
}

#d20:hover {
    background-color: #866c16;
}



/* home page - Games boxes */

/* boardgames box */

.gamesboxes {
    height: 54%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    margin: 0 2.9%;
}

.boardgames, .videogames, .roleplaying {
    width: 28%;
    border: 2px solid #FBC715;
    height: 263px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px #fbc715;
    margin-top: 3%;
}

.boardgames img, .videogames img, .roleplaying img {
    width: 26%;
    border-radius: 100%;
    background-color: #FBC715;
    padding: 10px;
    object-fit: cover;
    position: relative;
    left: 33%;
    margin-top: -18%;
}

.informationboardgames, .informationvideogames, .informationroleplaying {
    text-align: center;
    font-family: 'poppins';
    text-transform: uppercase;
}

.informationboardgames h3, .informationvideogames h3, .informationroleplaying h3 {
    color: white;
    font-size: 31px;
    line-height: 0;
    margin-top: 23px;
}

.informationboardgames p, .informationvideogames p, .informationroleplaying p {
    color: white;
    line-height: 0;
    margin-top: 36px;
    font-size: 17px;
}

.informationboardgames button, .informationvideogames button, .informationroleplaying button {
    color: #210E2D;
    background-color: #FBC715;
    padding: 7px 15px 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    position: relative;
    top: 75px;
    font-size: 18px;
    border: none;
}
