@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@700&family=Roboto:wght@900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

img{
    width:100%;
}

body{
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
    background: #220F2E;
    color: aliceblue;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 80px;
    background: #3A1052;
    border-top: 3px solid rgb(255, 208, 0);
    background: linear-gradient(to left, #220F2E, #3A1052);
    box-shadow: 1px 1px 20px rgb(255, 208, 0);
}

footer .something{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 0.8fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

footer .something .sec h2{
    margin-top: 50px;
    position: relative;
    color:aliceblue;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .something .sec img{
    width: 60%;
    margin-right: 10vh;
    padding-top: 15px;
}

footer .something .contact .info{
position: relative;
}

footer .something .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
    padding-left: 30px;
}

footer .something .contact .info li span{
    color: rgb(255, 208, 0);
    font-size: 20px;
}

footer .something .contact .info li a{
    color:aliceblue;
    text-decoration: none;
}

.copyrightText{
    color: #5c3175;
    width: 100%;
    background-color: #220F2E;
    background: linear-gradient(to left, #220F2E, #3A1052);
    padding: 0px 50px;
    text-align: center;
}

footer .something .quicklinks{
    position: relative;
}

footer .something .quicklinks ul li{
    list-style: none;
    font-size: 0.9rem;
}

footer .something .quicklinks ul li a{
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
}

footer .something .quicklinks ul li a:hover{
    color: #7d7d7d;
}